body {
  background-color: black !important;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
}

a {
  color: #58a6ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Add to your index.css or App.css */
.gradient-text {
  background: linear-gradient(to right, #8308b8, #e860d4); /* Purple to Black */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link-custom {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link-custom:hover {
  color: #a855f7; /* purple */
  font-size: 1.2rem;
  text-decoration: none; /* ensure no underline */
}
